{
  "parser": "babel-eslint",
  "extends": "standard",

  "plugins": [
    "react"
  ],

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, { "before": false, "after": true }],
    "no-unused-vars": 1,
    "no-multiple-empty-lines": 1
  }
}
